References:

https://ladvien.com/data-analytics-mysql-localhost-setup/

https://python.plainenglish.io/how-to-import-a-csv-file-into-a-mysql-database-using-python-script-791b051c5c33

https://www.w3schools.com/python/python_mysql_getstarted.asp

In [2]:
import pandas as pd
import mysql.connector as msql

In [3]:
customers = pd.read_csv('olist_customers_dataset.csv', index_col=False)
geolocation = pd.read_csv('olist_geolocation_dataset.csv', index_col=False)
orders = pd.read_csv('olist_orders_dataset.csv', index_col=False)
order_items = pd.read_csv('olist_order_items_dataset.csv', index_col=False)
order_payments = pd.read_csv('olist_order_payments_dataset.csv', index_col=False)
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv', index_col=False)
products = pd.read_csv('olist_products_dataset.csv', index_col=False)
sellers = pd.read_csv('olist_sellers_dataset.csv', index_col=False)
category_name_translation = pd.read_csv('product_category_name_translation.csv', index_col=False)

In [6]:
# Connect to the MySQL and create a database
conn = msql.connect(host='localhost', user='root',  
                    password='MySQL@123')
if conn.is_connected():
    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE olistDB")
    print("olistDB database is created")

AttributeError: module 'mysql.connector' has no attribute 'connect'

In [ ]:
# Inserting Pandas DataFrames Into Databases Using INSERT
try:
    conn = msql.connect(host='localhost', 
                           database='olistDB', user='root', 
                           password='MySQL@123')
    
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS customers;')
        print('Creating table....')
        cursor.execute("CREATE TABLE olist
                       (sepal_length FLOAT(2,1) NOT NULL, 
                        sepal_width FLOAT(2,1) NOT NULL,
                        petal_length FLOAT(2,1) NOT NULL, 
                        petal_width FLOAT(2,1) NOT NULL,
                        species CHAR(11) NOT NULL)")
        print("olist table is created....")
        
        for i,row in olist.iterrows():
            sql = "INSERT INTO olistDB.customers VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
            
except Error as e:
    print("Error while connecting to MySQL", e)

In [ ]:
for df in [customers, geolocation, orders, order_items, order_payments,
           order_reviews, products, sellers, category_name_translation]:
    df.info()
    print('\n')